#navi {
    position: fixed;
    padding-left: 1.5em;
    padding-right: 1.5em;
    top: 0;
    left: 0;
    right: 0;
    background: #4056A1;
    width: 100%;
}

#head {
    float: left;
    color: #FFFFFF;
    font-size: 35px;
    font-family: Bungee;
    line-height: 120px;
}

#head2 {
    padding: 0px;
    border: none;
    color: #FFFFFF;
    background: transparent;
    font-size: 24px;
    float: right;
    line-height: 120px;
    outline:none;
}

#head2:hover {
    transform: scale(1.1);
    color: red;
}